<div>
	<div class="row">
		<p class="text-right"><a ng-hide="account.user" href="#"ng-click="login()"><i class="fa fa-sign-in"></i> Login</a>
			<a href="#"ng-click="register()" ng-hide="account.user"><i class="fa fa-users"></i> Register</a>
			<a href="#"ng-click="logout()" ng-show="account.user"><i class="fa fa-power-off"></i> Logout</a>
		</p>
	</div>
<!-- 	<div class="row">
		<p class="text-center"><img src="img/ajax-loader.gif" ng-show="!loaded" alt=""></p>
	</div> -->
	<div ng-show="account.user">
		<div class="row">
			<input type="search" ng-model="search" placeholder="Search users">
		</div>
        <div class="row" ng-repeat='user in users | orderByPriority | filter:search'>
        	<div class="small-9 columns">{{user.name}} </div>
        	<div class="small-3 columns">
            	<ul class="button-group">
            		<li><a class="small button" href="/#/edit/{{user.$id}}">
						<i class="fa fa-pencil-square-o"></i>
            			Edit</a></li>
            		<li><a href="#" class="small button" ng-click="deleteUser(user.$id)"><i class="fa fa-times"></i> Delete</a></li>
            	</ul>
        	</div>
        </div>
		<div class="row">
			<a href="/#/new" class="small button"><i class="fa fa-plus"></i> Add new user</a>
			<a href="#"  confirmed-click="clearUsers()" ng-confirm-click="Remove all users ?" class="small alert button" ng-click="clearUsers()"><i class="fa fa-exclamation-triangle"></i> Remove all users</a>
		</div>
		<div data-alert class="alert-box">{{message}}</div>
	</div>
</div>