<img src="http://fleq.pl/sklep/img/layout/loading.gif" width="300" height="300" ng-show="!loaded" alt="">
<div ng-show="loaded">
	<input type="search" ng-model="search" placeholder="Search users">
	<ul>
	<li ng-repeat='user in users | orderByPriority | filter:search'>{{user.name}} <a ng-href="/#/edit/{{user.$id}}">Edit</a> <button ng-click="deleteUser(user.$id)">X</button></li>
	</ul>

	<input type="text" placeholder="Add new user" ng-model="user.name">
	<button ng-click="addUser(user.name)">Add user</button> <br>
		{{message}}
	<hr>
	<button ng-click="clearUsers()">Remove all users</button>
</div>